:root {
  --primary-title-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-primary-color: #2f303a;
  --background-team-color: #f5f4fa;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  background-color: var(--primary-title-color);
}
.footer {
  background-color: var(--background-primary-color);
}
.logo {
  color: var(--accent-color);
}
.header-logo {
  color: #000;
}
.footer-logo {
  color: #fff;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.adress {
  font-style: normal;
}
.footer-address,
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
}
.footer-address {
  color: #fff;
}
/* index */
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-link.current {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.hero {
  background: var(--background-primary-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-title-color);
  text-transform: uppercase;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
  /* opacity: 0.9; */
  cursor: pointer;
}
/* .visually-hidden {
  display: none;
} */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team {
  background-color: var(--background-team-color);
}
.team-item {
  background-color: var(--primary-title-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}
/* portfolio */
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-team-color);
}
.btn:hover,
.btn:focus,
.btn:active {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.portfolio-item {
  background-color: var(--primary-title-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
